/* 
    Custom styling for my header file 
    Created using Figma (kinda) 
*/

/* this can be used for fonts or icons */
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@500&display=swap');

:root {
    --blue: #00c3ffe0;
    --darkgray: rgba(0, 0, 0, 0.884);
    --white: #ffffffec;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;;
}

h2 {
    color: var(--blue);
    font-family: 'Lato', sans-serif;
}

/* Set nav attributes */

.nav {
    position:relative;
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content: space-between;
    background: var(--darkgray);
    height: 77px;
}

.logo {
    width:140px;
    height: 70px;
}

.nav i {
    padding: 00px 7px;
    cursor: pointer;
    color: --blue;
}

.nav ul {
    list-style: none;
}

.nav li {
    padding: 00px 40px;
    display: inline-block;
}

.nav a {
    color: var(--white);
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.nav a:hover {
    color: var(--blue);
    transition: all 0.3s ease 0s;
}

.nav i:hover {
    color: var(--white);
    transition: all 0.3s ease 0s;
}

.nav .left {
    flex:1;
    display:flex;
    align-items: center;
    justify-content:space-around;
    flex-direction: row;
    
}

.right {
    color: var(--blue);
    flex:1;
}

.middle {
    flex:1;
}


/* make hamburger disappear after certain size */

/* @media (min-width: 1100px) {
    .hamburger {
        display: none;
    }
}

@media (max-width: 1100px) {
    nav {
        display: none;
    }   
}

.login {
    padding: 9px 25px;
    font-size: 20px;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 500;
    color: var(--white);
    background-color: var(--blue);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 30px;
}
 */

/*  
.hamburger {
    display: block;
    position: relative;
    z-index: 1;
    user-select: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background-color: var(--white);
    border-radius: 6px;
    z-index: 1;

    transform-origin: 0 0;

    transition: 0.4s;
}

.hamburger:hover span:nth-child(2) {
    transform: translateX(10px);
    background-color: var(--blue);
}

.hamburger.is-active span:nth-child(1) {
    transform: translate(0px, -2px) rotate(45deg);
}

.hamburger.is-active span:nth-child(2) {
    opacity: 0;
    transform: translate(15px);
}

.hamburger.is-active span:nth-child(3) {
    transform: translate(-3px, 3px) rotate(-45deg);
}

.hamburger.is-active:hover span {
    background-color: var(--blue);
} */